@import "/src/style/partials/base/base";

.logout-button {

    width: fit-content;
    background: none;
    border: none;
    padding: 0;
    color: $colour-primary;
}

.logout-button:hover {
    background: none;
    color: $colour-light;
}

.logout-button:focus,
.logout-button:active {
    background: none;
    box-shadow: none;
}