@import "/src/style/partials/base/base";

.brand-button {
    height: 44px;
    padding: 0 40px 0 40px;
    background: $colour-primary;
    border-radius: 20px;
    border: none;
    color: $colour-light;
    transition: 0.5s;
    font-size: 24px;
    font-weight: 200;
}

.brand-button:hover {
    opacity: 0.8;
}

.brand-button:disabled {
    opacity: 0.5;
}