/* 
    Flex classes
*/

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.wrap {
    flex-wrap: wrap;
}

/*
    Align & Justify
*/

//Align

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-evenly {
    align-items: space-evenly;
}

.align-between {
    align-items: space-between;
}

.align-around {
    align-items: space-around;
}

.align-stretch {
    align-items: stretch;
}

//Justify

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

// Self Align & Justify

.align-self-start {
    align-self: start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.align-self-stretch {
    align-self: stretch;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-stretch {
    justify-self: stretch;
}

/*
    Padding
*/

.top-level-indent {
    padding-left: 4em !important;
    padding-right: 4em !important;

    @media(max-width: 991px) {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }

    @media(max-width: 768px) {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }

    @media(max-width: 555px) {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    @media(max-width: 465px) {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
}


/*
    Sizing
*/

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

/*
    Spacing
*/

// Gap
.gap-xs {
    gap: 16px;
}

.gap-sm {
    gap: 24px;
}

.gap-md {
    gap: 40px;
}

.gap-lg {
    gap: 80px;
}

.gap-xl {
    gap: 160px;
}

// Border Radius

.radius-sm {
    border-radius: 5px;
}

.radius-md {
    border-radius: 10px;
}

.radius-lg {
    border-radius: 20px;
}

//Miscellaneous

.show-interact:hover {
    cursor: pointer;
}

.height-fit {
    height: fit-content;
}