@import "/src/style/partials/base/base";

.app-interface {

    height: 100Vh;
    overflow: scroll;
    background: $colour-secondary-background;

    grid-template-columns: auto 1fr;

    @media(max-width: 991px) {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;

    }
}