@import "/src/style/partials/base/base";

.post {
    * {
        overflow-wrap: anywhere;
        hyphens: auto;
    }

    background: $colour-light;
    color: $colour-dark;
    box-shadow: $common-shadow;

    .close-button {
        color: $colour-dark;
    }

    .post-author-name {

        text-decoration: none;
        font-family: $font-brand;
        font-size: 20px;
        font-weight: 500;
        color: $colour-dark;
    }

    .post-title {
        font-family: $font-brand;
        font-size: 24px;
        font-weight: 600;
    }

    .discrete {
        color: $colour-dark;
    }

}


.post.owner {
    background: $colour-eerie-black;
    color: $colour-light;

    .post-author-name {
        color: $colour-light;
    }

    .close-button {
        color: $colour-light;
    }

    .discrete {
        color: $colour-light;
    }
}