@import "/src/style/partials/base/base";

#central-column {
    max-width: 800px;
    background: $colour-secondary-background;
    height: 100vh;
    overflow: scroll;

    @media (max-width: 991px) {
        height: fit-content;
    }

}