@import "./partials/base/base";
@import "./partials/utility/utility-classes";

* {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    //border: 1px solid green !important;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none !important;
    padding: 0 !important;
}

@import "./custom-bootstrap/custom-bootstrap";