@import "/src/style/partials/base/base";

.add-image {
    background: $colour-secondary-background;
    border: 3px solid $colour-eerie-black;
    box-shadow: $common-shadow;
    border-radius: 0.25rem;
}