@import "/src/style/partials/base/base";

.post-feed-selector {
    background: $colour-primary-background;


    button {
        font-size: 14px;
    }

    button.current {
        font-weight: 500;
        border-bottom: 1px solid $colour-primary;
    }
}