$colour-space-cadet: #211e48;
$colour-ruby: #e40066;
$colour-carolina-blue: #3296c8;
$colour-baby-powder: #fdfffc;
$colour-rich-black: #031c2b;
$colour-eerie-black: #262626;

$colour-dark: $colour-rich-black;
$colour-light: $colour-baby-powder;
$colour-grey: $colour-eerie-black;

$colour-primary: $colour-ruby;
$colour-secondary: $colour-carolina-blue;

$colour-primary-background: $colour-space-cadet;
$colour-secondary-background: $colour-rich-black;

$colour-primary-gradient: linear-gradient(150deg, $colour-primary 40%, $colour-secondary 65%);
$colour-dark-gradient: radial-gradient(circle, $colour-primary-background 85%, $colour-secondary-background 100%)