@import "/src/style/partials/base/base";

.post {
    max-width: 560px;
    background: $colour-eerie-black;
    color: $colour-light;

    img {
        max-width: 100%;
    }

    .post-main {
        max-width: 400px;
    }
}

.post.owner {
    background: $colour-primary;
}